@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<form asp-controller="Home" asp-action="Index">
    <p>
        <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Search Books" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.BookPicture" class="rounded-circle" height="100" width="100" />
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category!.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a href="#" onclick="add(@item.Id); return false;">Add to cart</a>
                    @* <button type="button" onclick="add(@item.Id)" class="btn btn-primary">Add to cart</button> *@
                </td>
            </tr>

        }
    </tbody>
</table>
@section Scripts{
    <script>
        async function add(bookId) {
            var usernameEl = document.getElementById("username");
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>

}

